input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    //-webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}

a:hover {
  text-decoration: none;
}

.block-gcenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.circle-bg1 {
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.bg-style1 {
  border-radius: 5px;
  background-color: #ededed;
  padding: 10px;
  position: relative;
}

.block-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.float-off {
  clear: both;
}

.my-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-color-light1 {
  background-color: #fcffff;
}

.big-dark-btn {
  background-color: #333333;
  color: #fcffff;
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.big-dark-btn-arrow {
  background-color: #333333;
  color: #fcffff;
  font-family: fantasy;
  text-align: center;
  text-transform: uppercase;

}

.circle-btn {
  width: 40px;
  height: 40px;
  font-size: 30px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.dark_hover {
  transition-duration: 0.1s;

  &:hover {
    cursor: pointer;
    background-color: gray;
  }
}

.big-calendar {
  padding: 10px;
  position: relative;

  .calendar-head {
    .big-dark-btn,
    .big-dark-btn-arrow {
      float: left;
      margin: 5px;
    }

    .spot,
    .spot-title {
      float: right;
    }

    .spot {
      padding: 10px;

      option {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
      }
    }

    .spot-title {
      padding: 5px;
      font-size: 20px;
    }

  }

  .month {
    width: 100%;
    max-width: 300px;
  }

  .day-name {
    flex-grow: 1;
    font-size: 25px;
    //font-weight:bold;
    font-family: fantasy;
    text-align: center;
    text-transform: uppercase;
  }

  .week {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    width: 100%;

    .events {
      .count {
        color: #00ab00;
      }
    }

    .head {
      display: flex;

      .number {
        flex-grow: 1;

      }

      .message {
        color: red;
        flex-grow: 1;
        text-align: center;
      }
    }

    .day {
      flex-grow: 1;
      background-color: #ffffff;
      -webkit-border-radius: 0 0 10px 0;
      -moz-border-radius: 0 0 10px 0;
      border-radius: 0 0 10px 0;
      transition-duration: 200ms;

      a {
        color: black;
      }

      &:hover {
        color: black;
        background-color: #333333;
        cursor: pointer;

        .number {
          color: #e35050;
        }

        .events {
          color: #75ff1f;
        }

        .head {
          color: white;
        }
      }

      .mobile-events {
        //min-width:  30px;
        .count {
          color: green;
        }

        .new {
          color: #ff2332;
        }
      }

    }

    .current_day{
      background-color: #d4fdd4;
    }
 .selected-day{
      background-color: #94e9fd;
    }

    .another-month-day{
     background-color: #bab9b9;
      .number,.message,.events,.mobile-events,.count{
        color: #727272;
      }
    }
  }
}

.bg1 {
  width: 100%;
  max-width: 1200px;
  border-radius: 5px;
  background-color: #ededed;
}

.main-menu {
  margin-top: 10px
}

.menu1 {
  ul {
    height: 30px;
    margin: 0;

    li {
      position: relative;
      height: 30px;
      text-align: center;
      vertical-align: middle;
      float: left;
      list-style: none;
      padding: 0 10px;

      a {
        overflow: hidden;
        width: 100%;
        height: 30px;
        display: block;
        text-decoration: none;
        color: black;
      }

      &:hover {
        background-color: grey;
        cursor: pointer;
      }
    }
  }
}

.reg-form {
  .form-width {
    border-top: 0;
  }

  .header-buttons {
    max-width: 25rem;
    text-align: center;
    margin-bottom: 0;

    .button {
      border-radius: 0;
      width: 50%;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;

    }
  }
}

.day-plan {
  .hour {
    width: 100%;
    clear: both;
    border-top: 1px dashed #7f888f;;


    .add_new {
      width: 70%;
    }

    .cost {
      padding-top: 10px;
      float: right;
      font-weight: bold;
      color: #00ab00;
      transition-duration: 400ms;

      &:hover {
        color: #f56a6a;;
      }
    }
  }
  .selected-hour{
    background-color: #94e9fd;width: 100%;height: 32px;
  }

  margin-right: 1%;

  .item div {
    //padding-top: 10px;
  }

  a {
    color: black;
  }

  .time {
    height: 31px;
    width: 60px;
    font-weight: bold;
  }

  .rec {
      font-size: 18px;
  }

  .add_new_rec {
    color: blue;
    transition-duration: 300ms;

    &:hover {
      color: #f56a6a;;
    }
  }

  .time, .rec {
    padding: 5px;
    float: left;
  }


}

.rec-info {
  .selected-time {
    padding: 0 0 0 5px;
    font-size: 25px;
  }

  margin-left: 1%;
}

.day-plan, .rec-info {
  font-size: 1.2em;
  float: left;
  width: 98%;
}

.grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  grid-column-gap: 10px;
}

.grid-2 > div {
  margin-bottom: 10px;
}

.grid-7 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  grid-column-gap: 5px;
}

.bg-style2 {
  border-radius: 5px;
  background-color: #ededed;
  border: 1px dashed black;
  position: relative;
}

.setting{
  .work-time{
    font-weight: bold;
    color:black;
    text-align: center;
    //cursor: pointer;
    &>div{
      padding: 5px;
      //&:hover{
      //  background-color: white;
      //  border: 1px solid black;
      //}
    }
    .active{
      border: 3px solid black;
      &:hover{
        border: 3px solid black;
      }
    }
  }
}

















@media (max-width: 375px) {
  .big-calendar {
    .big-dark-btn {
      width: 50%;
    }

    .circle-btn {
    }

    .big-dark-btn, .circle-btn {
      font-size: 20px;
    }
  }

}

@media (max-width: 700px) {

  .main-menu1 {
    display: none;
  }

  .big-calendar {
    .calendar-head {
      .buttons-container {
        margin: 0 auto;
      }

      .circle-btn {
        height: auto;
      }
    }



    select {
      width: 100%;
    }

    .day-name {
      font-size: 18px;
    }

    .head {
      .number {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
      }
    }

    .message, .events {
      display: none;;
    }

    .month {
      max-width: 200px;
    }

    .calendar-head .spot,
    .calendar-head .spot-title {
      float: left;
    }

    .day {
      padding: 2px;
      margin: 2px;

      .mobile-events {
        font-size: 14px;
        display: block;
      }
    }
  }


}


@media (max-width: 768px) {
  .grid-2{
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-column-gap: 10px;
  }
  .rec-info {
    .selected-time {
      padding-left: 5px;
      font-size: 30px;
    }
  }

  .big-calendar .week .message {
    font-size: 10px;
  }

  .spot-title {
    display: none;
  }
}

@media (max-width: 1024px) {
  .week {
    .day-name {
      .mini {
        display: block
      }

      .full {
        display: none
      }
    }
  }
}
@media (min-width: 1024px) {
  .week {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    .day-name {
      .mini {
        display: none
      }

      .full {
        display: block
      }
    }
  }

  .big-calendar {
    .month {
      .week {
        padding-bottom: 10px;

        .message {
          font-size: 15px;
        }
      }
    }
  }

}

@media (min-width: 701px) {
  .rec-info {
    .selected-time {
      padding-left: 5px;
      font-size: 30px;
    }
  }

  .big-calendar {
    .big-dark-btn {
      //height: 40px;
    }

    select {
      width: 30%;
    }

    .head {
      .number {
        font-family: Impact;
        color: #a29c9e;
        font-size: 30px;
      }
    }



    .day {
      margin: 5px;
      padding: 5px;
      border: 1px dashed #7f888f;;


      .mobile-events {
        display: none;
      }
    }
  }

}

@media (min-width: 768px) {



  .rec-info {
    .selected-time {
      font-size: 45px;
    }
  }
}
